# Composer dependencies.
/vendor

# Environment-specific configuration,
# overwrite the .config.default options.
.config

# Overwrite the .config and the default
# .config.default options (used in tests).
.config.tests
